[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/clarkema/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-lusty"]
	path = vim/bundle/vim-lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/tabular.vim"]
	path = vim/bundle/tabular.vim
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "breeze"]
	path = breeze
	url = https://github.com/clarkema/nomad-breeze.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "tmux/plugins/tmux-open"]
	path = tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/bundle/vim-tbone"]
	path = vim/bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "emacs/vendor/helm"]
	path = emacs/vendor/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "emacs/vendor/async"]
	path = emacs/vendor/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "emacs/vendor/sly"]
	path = emacs/vendor/sly
	url = https://github.com/clarkema/sly.git
[submodule "vim/bundle/nim"]
	path = vim/bundle/nim
	url = https://github.com/zah/nim.vim.git
[submodule "vim/bundle/vim-ripgrep"]
	path = vim/bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vim/bundle/alchemist.vim"]
	path = vim/bundle/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/bundle/vim-elm"]
	path = vim/bundle/vim-elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/bundle/vim-test"]
	path = vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "vim/bundle/swift.vim"]
	path = vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vim/bundle/nord-vim"]
	path = vim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/bundle/vim-nix"]
	path = vim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/bundle/vim-markdown-composer"]
	path = vim/bundle/vim-markdown-composer
	url = https://github.com/euclio/vim-markdown-composer.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundle/vim-fetch"]
	path = vim/bundle/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch.git
[submodule "vim/bundle/vim-rescript"]
	path = vim/bundle/vim-rescript
	url = https://github.com/rescript-lang/vim-rescript.git
