/.cache
/tramp
/transient
/cider-history
/eshell
/elpa
/eln-cache
/games
/.emacs.desktop*
/.lsp-session*
/.org-id-locations
/request
/url
/network-security.data
/bookmarks
/straight
/tree-sitter
/var
org-roam.db
